*{
    margin: 0;padding: 0;
}
#nav{
    background-color: rgba(0, 0, 0, 0.44);
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 2px solid black;

}
#nav a{
    color: black;
    text-decoration-line: none;
    font-size: large;
}
#nav li {
    list-style-type: none;
    margin: auto;
}
#nav ul{
    margin-left:20% ;
    width: 60%;
    display: flex;
    
}

#nav ul li:hover >a{
    color: rgb(13, 238, 208);
    transition: 0.4s;
}
#banner{
    width: 100%;
}
#banner h1{
   text-align: center;
}
#service{
    
   
}
#photoshop,#computerconsault,#websitemaking,#musicproduction{
    border: 2px solid black;
    width: 95%;
    height: 200px;
    /* background-color: red; */
    margin: 20px auto ;
    border-radius: 15px;
}
#photoshop #c{
    background-color: rgb(102, 255, 0);

}
#computerconsault #c{
    background-color: red;

}
#websitemaking #c{
    background-color: rgb(15, 210, 236);

}
#musicproduction #c{
    background-color: rgba(245, 110, 32, 0.972);
}
.s h2{
    margin-left: 20px;
    padding-top: 5px;
    width: 95%;
}

#c{
    border-radius: 15px 15px  0px 0px;
  display: flex;
}
#para{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
font-size: large;
}
.btn{
    font-size: medium;
    margin: 10px 20px;
    padding: 10px 20px;
    background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
transform: scale(1);

}
